*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utilities */
.debug{
  border: 1px solid red;
  background-color: rgba(0, 255, 255, 0.46);
}
.debug2{
  border: 1px solid blueviolet;
  background-color: rgba(80, 215, 170, 0.615);
}
.grey-text{
  color: rgb(153, 153, 153);
}
.d-flex{
  display: flex;
}
/* stili particolari degli elementi */
section{
  padding-top: 30px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(161, 161, 161);
}

.container{
 
  height: 90%;
  width: 80%;
  background-color: rgb(208, 207, 207);
  border: 1px solid black;
  margin: 0 auto;
  max-height: 800px;
}

.user-container{
 
  height: 100%;
  width: 30%;
  flex-direction: column;
}
.chat-container{
  
  height: 100%;
  width: 70%;
}
.user-area{
  width: 100%;
  height: 90px;
  background-color: rgb(241, 238, 238);
}
.box-image{
  height: 85px;
  width: 85px;
  border-radius: 50%;
  overflow: hidden;
  background-color:rgb(241, 238, 238);
  align-self: center;
  margin-left: 10px;
}
.box-image img{
  height: 90px;
}
.user-name{
  align-self: center;
}

.user-menu-icons{
  list-style: none;
  margin-left: 180px;
}
.user-menu-icons li{
  margin-top: 30px;
  margin-right: 15px;
  font-size: 2rem;
}
/* zona del box blu */
.blu-area{
  background-color:#88adec;
  height: 100px;
}
.fa-bell-slash{
  font-size: 3rem;
  margin-top: 20px;
  margin-left: 10px;
}
.blu-area-text{
  align-self: center;
  color: black;
  margin-left: 10px;
}
/* fine stili box blu */

/* stili dell'input area */
.input-area{
  height: 60px;
  background-color: rgb(241, 238, 238);
}
.contact-search-bar{
  align-self: center;
  width: 100%;
}
.input-bar{
  height: 40px;
  margin-left: 5px;
  border-radius: 15px;
  min-width: calc(100% - 10px);
  border: 1px solid grey;
  padding-left: 20px;
}
/* fine stili input area (ricerca contatti) */

/* parte dedicata ai miei contantti */
.all-contacts{
  overflow-y: scroll;
  max-height: 549px;
}
.contact-area{
  width: 100%;
  height: 90px;
  background-color: rgb(255, 255, 255);
}
.contact-info{
  margin-top: 5px;
  margin-left: 10px;
}
.last-message-time{
  margin-left: 140px;
  margin-top: 5px;
}
/* fine parte dei contatti */

/* inizio stili dedicati all'area chat */
.top-bar{
  justify-content: space-between;
  background-color: rgb(241, 238, 238) ;
  border-left: 1px solid grey;
}

.chat-top-bar{
  height: 90px;
}
.user-top-info{
  margin-left: 10px;
  align-self: center;
}
.top-menu{
  list-style: none;
  align-self: center;
}
.item-menu span{
  margin-right: 20px;
  font-size: 2rem;
}

/* stili dedicati all'area della chat vera e propria */

.chat-area{
width: 100%;
background-image: url(/img/mine.jpg);   
min-height: 600px;               /* altezza sarà da togliere */
flex-direction: column;
overflow-y: scroll;
}


.input-chat-area{
  width: 100%;
  min-height: 90px;
  border-left: 1px solid grey;
  justify-content: space-around;
  align-items: center;
}
.fa-face-smile , .fa-microphone{
  font-size: 2rem;
}

.chat{
  height: 70px;
  min-width: 800px;
  border: 1px solid rgb(197, 196, 196);
  border-radius: 5px;
  padding-left: 20px;
}

.msg-in{
  border-radius: 10px;
  background-color: white;
  width: 250px;
  padding: 20px;
  float: left;
  clear: both;
  margin: 30px;
}
.msg-out{
  border-radius: 10px;
  background-color: rgb(70, 187, 70);
  width: 250px;
  padding: 20px;
  float: right;
  clear: both;
  margin: 30px;
}